# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
edges/
.eggs/
.eggs-info/
Lib/
lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# macOS
.DS_Store

# Logs
*.log

# PyCharm
.idea/

# VS Code
.vscode/

# Custom temporary files
/tmp/
